<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolERP.UI</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SchoolERP.UI.styles.css" asp-append-version="true" />
    <link href="~/css/sidebar.css" rel="stylesheet" />  <!-- Sidebar specific styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>
<body>

    <nav class="site-nav">
        <button class="sidebar-toggle">
            <span class="material-symbols-rounded">menu</span>
        </button>
    </nav>

    <div class="container-fluid d-flex">
        <!-- Sidebar -->
        <aside class="sidebar collapsed">
            <!-- Sidebar header -->
            <div class="sidebar-header">
                <img src="logo.png" alt="SchoolERP" class="header-logo" />
                <button class="sidebar-toggle">
                    <span class="material-symbols-rounded">chevron_left</span>
                </button>
            </div>

            <div class="sidebar-content">
                <!-- Search Form -->
                <form action="#" class="search-form">
                    <span class="material-symbols-rounded">search</span>
                    <input type="search" placeholder="Search..." required />
                </form>

                <!-- Sidebar Menu -->
                <ul class="menu-list">
                    <li class="menu-item">
                        <a href="@Url.Action("Index", "Home")" class="menu-link">
                            <span class="material-symbols-rounded">dashboard</span>
                            <span class="menu-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("Index", "Students")" class="menu-link">
                            <span class="material-symbols-rounded">person</span>
                            <span class="menu-label">Students</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("ClassList", "Classes")" class="menu-link">
                            <span class="material-symbols-rounded">class</span>
                            <span class="menu-label">Classes</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("Register", "Account")" class="menu-link">
                            <span class="material-symbols-rounded">account_balance</span>
                            <span class="menu-label">Accounts</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("RolesIndex", "Roles")" class="menu-link">
                            <span class="material-symbols-rounded">people</span>
                            <span class="menu-label">Roles</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("Index", "Teacher")" class="menu-link">
                            <span class="material-symbols-rounded">school</span>
                            <span class="menu-label">Teachers</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("SubjectList", "Subjects")" class="menu-link">
                            <span class="material-symbols-rounded">book</span>
                            <span class="menu-label">Subjects</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("AssignmentList", "Assignments")" class="menu-link">
                            <span class="material-symbols-rounded">assignment</span>
                            <span class="menu-label">Assignments</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("StudentComplaintList", "StudentComplaint")" class="menu-link">
                            <span class="material-symbols-rounded">report_problem</span>
                            <span class="menu-label">Complaints</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("AttendeceList", "Attendance")" class="menu-link">
                            <span class="material-symbols-rounded">check_circle</span>
                            <span class="menu-label">Attendance</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("ExamList", "Exam")" class="menu-link">
                            <span class="material-symbols-rounded">school</span>
                            <span class="menu-label">Exams</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("Index", "ExamResult")" class="menu-link">
                            <span class="material-symbols-rounded">assignment_ind</span>
                            <span class="menu-label">Exam Results</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("Privacy", "Home")" class="menu-link">
                            <span class="material-symbols-rounded">lock</span>
                            <span class="menu-label">Privacy</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("Index", "Timetable")" class="menu-link">
                            <span class="material-symbols-rounded">schedule</span>
                            <span class="menu-label">Timetable</span>
                        </a>
                    </li>
                </ul>
            </div>

          

            <!-- Sidebar Footer -->
            <div class="sidebar-footer">
                <button class="theme-toggle">
                    <div class="theme-label">
                        <span class="theme-icon material-symbols-rounded">dark_mode</span>
                        <span class="theme-text">Dark Mode</span>
                    </div>
                    <div class="theme-toggle-track">
                        <div class="theme-toggle-indicator"></div>
                    </div>
                </button>
            </div>
        </aside>

        <!-- Main Content -->
        <div class="main-content flex-grow-1">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - SchoolERP.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/devloperjs/sidebar.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
