@model SchoolERP.Data.Entities.Teacher

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Details - Responsive UI</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS for uniqueness -->
   <link href="d:\projects\schoolerp\schoolerp.ui\wwwroot\css\teacherdetils.css" rel="stylesheet" />
    <!-- Font Awesome for icons (replacing ti icons with fa for uniqueness) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Page Header -->
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <div>
                        <h3 class="page-title mb-1">Teacher Details</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="teachers.html">Teachers</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Teacher Details</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="d-flex align-items-center flex-wrap">
                        <a href="#" class="btn btn-light me-2 mb-2" data-bs-toggle="modal" data-bs-target="#login_detail"><i class="fas fa-lock me-2"></i>Login Details</a>
                        <a href="edit-teacher.html" class="btn btn-primary d-flex align-items-center mb-2"><i class="fas fa-edit me-2"></i>Edit Teacher</a>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->
            <!-- Teacher Information Sidebar -->
            <div class="col-xxl-3 col-xl-4 order-xxl-1 order-2">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="avatar avatar-xxl border border-dashed me-2 flex-shrink-0 text-dark">
                                <img src="assets/img/teachers/teacher-01.jpg" class="img-fluid rounded-circle" alt="img">
                            </div>
                            <div>
                                <h5 class="mb-1 text-truncate">Teresa</h5>
                                <p class="text-primary mb-1">T849126</p>
                                <p>Joined: 25 May 24</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="mb-3">Basic Information</h5>
                        <dl class="row mb-0">
                            <dt class="col-6 fw-medium text-dark mb-3">Class & Section</dt>
                            <dd class="col-6 mb-3">III, A</dd>
                            <dt class="col-6 fw-medium text-dark mb-3">Subject</dt>
                            <dd class="col-6 mb-3">Physics</dd>
                            <dt class="col-6 fw-medium text-dark mb-3">Gender</dt>
                            <dd class="col-6 mb-3">Female</dd>
                            <dt class="col-6 fw-medium text-dark mb-3">Blood Group</dt>
                            <dd class="col-6 mb-3">O +ve</dd>
                            <dt class="col-6 fw-medium text-dark mb-3">House</dt>
                            <dd class="col-6 mb-3">Red</dd>
                            <dt class="col-6 fw-medium text-dark mb-3">Language Known</dt>
                            <dd class="col-6 mb-3">English</dd>
                            <dt class="col-6 fw-medium text-dark mb-0">Language</dt>
                            <dd class="col-6 mb-0"><span class="badge badge-light text-dark me-2">English</span><span class="badge badge-light text-dark">Spanish</span></dd>
                        </dl>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="mb-3">Primary Contact Info</h5>
                        <div class="d-flex align-items-center mb-3">
                            <span class="avatar avatar-md bg-light rounded me-2 flex-shrink-0 text-default"><i class="fas fa-phone"></i></span>
                            <div>
                                <span class="text-dark fw-medium mb-1">Phone Number</span>
                                <p>+1 46548 84498</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="avatar avatar-md bg-light rounded me-2 flex-shrink-0 text-default"><i class="fas fa-envelope"></i></span>
                            <div>
                                <span class="text-dark fw-medium mb-1">Email Address</span>
                                <p>jan@example.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body pb-1">
                        <h5 class="mb-3">PAN Number / ID Number</h5>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center mb-3">
                                <span class="avatar avatar-md bg-light rounded me-2 flex-shrink-0 text-default"><i class="fas fa-id-card"></i></span>
                                <div>
                                    <p class="text-dark">343445954908</p>
                                </div>
                            </div>
                            <a class="btn btn-primary btn-icon btn-sm mb-3"><i class="fas fa-copy"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body pb-1">
                        <ul class="nav nav-tabs nav-tabs-bottom mb-3" role="tablist">
                            <li class="nav-item"><a class="nav-link active" href="#hostel" data-bs-toggle="tab" role="tab">Hostel</a></li>
                            <li class="nav-item"><a class="nav-link" href="#transport" data-bs-toggle="tab" role="tab">Transportation</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="hostel" role="tabpanel">
                                <div class="d-flex align-items-center mb-3">
                                    <span class="avatar avatar-md bg-light rounded me-2 flex-shrink-0 text-default"><i class="fas fa-building unique-icon"></i></span>
                                    <div>
                                        <h6 class="mb-1">HI-Hostel, Floor</h6>
                                        <p class="text-primary">Room No: 25</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="transport" role="tabpanel">
                                <div class="d-flex align-items-center mb-3">
                                    <span class="avatar avatar-md bg-light rounded me-2 flex-shrink-0 text-default"><i class="fas fa-bus unique-icon"></i></span>
                                    <div>
                                        <span class="fs-12 mb-1">Route</span>
                                        <p class="text-dark">Newyork</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <span class="fs-12 mb-1">Bus Number</span>
                                            <p class="text-dark">AM 54548</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <span class="fs-12 mb-1">Pickup Point</span>
                                            <p class="text-dark">Cincinatti</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Teacher Information Sidebar -->
            <!-- Main Content -->
            <div class="col-xxl-9 col-xl-8 order-xxl-2 order-1">
                <div class="row">
                    <div class="col-12">
                        <!-- Navigation Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bottom mb-4">
                            <li class="nav-item"><a class="nav-link active" href="teacher-details.html"><i class="fas fa-school me-2"></i>Teacher Details</a></li>
                            <li class="nav-item"><a class="nav-link" href="routine-teachers.html"><i class="fas fa-table me-2"></i>Routine</a></li>
                            <li class="nav-item"><a class="nav-link" href="teacher-leaves.html"><i class="fas fa-calendar-check me-2"></i>Leave & Attendance</a></li>
                            <li class="nav-item"><a class="nav-link" href="teacher-salary.html"><i class="fas fa-money-bill-wave me-2"></i>Salary</a></li>
                            <li class="nav-item"><a class="nav-link" href="teacher-library.html"><i class="fas fa-book me-2"></i>Library</a></li>
                        </ul>
                        <!-- /Navigation Tabs -->
                        <!-- Profile Details -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Profile Details</h5>
                            </div>
                            <div class="card-body">
                                <div class="unique-section p-3">
                                    <!-- Unique gradient section -->
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-4">
                                            <div class="mb-3">
                                                <p class="mb-1 fw-medium">Father’s Name</p>
                                                <p>Francis Saviour</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-4">
                                            <div class="mb-3">
                                                <p class="mb-1 fw-medium">Mother Name</p>
                                                <p>Stella Bruce</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-4">
                                            <div class="mb-3">
                                                <p class="mb-1 fw-medium">DOB</p>
                                                <p>25 Jan 1992</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-4">
                                            <div class="mb-3">
                                                <p class="mb-1 fw-medium">Martial Status</p>
                                                <p>Single</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-4">
                                            <div class="mb-3">
                                                <p class="mb-1 fw-medium">Qualification</p>
                                                <p>MBA</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-4">
                                            <div class="mb-3">
                                                <p class="mb-1 fw-medium">Experience</p>
                                                <p>2 Years</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Profile Details -->
                    </div>

                    <!-- Documents -->
                    <div class="col-xxl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Documents</h5>
                            </div>
                            <div class="card-body">
                                <div class="bg-light border rounded d-flex align-items-center justify-content-between mb-3 p-2">
                                    <div class="d-flex align-items-center overflow-hidden">
                                        <span class="avatar avatar-md bg-white rounded flex-shrink-0 text-default"><i class="fas fa-file-pdf fs-15 unique-icon"></i></span>
                                        <div class="ms-2">
                                            <p class="text-truncate fw-medium text-dark">Resume.pdf</p>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-dark btn-icon btn-sm"><i class="fas fa-download"></i></a>
                                </div>
                                <div class="bg-light border rounded d-flex align-items-center justify-content-between p-2">
                                    <div class="d-flex align-items-center overflow-hidden">
                                        <span class="avatar avatar-md bg-white rounded flex-shrink-0 text-default"><i class="fas fa-file-pdf fs-15 unique-icon"></i></span>
                                        <div class="ms-2">
                                            <p class="text-truncate fw-medium text-dark">Joining Letter.pdf</p>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-dark btn-icon btn-sm"><i class="fas fa-download"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Documents -->
                    <!-- Address -->
                    <div class="col-xxl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Address</h5>
                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-3">
                                    <span class="avatar avatar-md bg-light rounded me-2 flex-shrink-0 text-default"><i class="fas fa-map-marker-alt unique-icon"></i></span>
                                    <div>
                                        <p class="text-dark fw-medium mb-1">Current Address</p>
                                        <p>3495 Red Hawk Road, Buffalo Lake, MN 55314</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="avatar avatar-md bg-light rounded me-2 flex-shrink-0 text-default"><i class="fas fa-map-pin unique-icon"></i></span>
                                    <div>
                                        <p class="text-dark fw-medium mb-1">Permanent Address</p>
                                        <p>3495 Red Hawk Road, Buffalo Lake, MN 55314</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Address -->
                    <!-- Previous School Details -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Previous School Details</h5>
                            </div>
                            <div class="card-body pb-1">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <p class="mb-1 text-dark fw-medium">Previous School Name</p>
                                            <p>Oxford Matriculation, USA</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <p class="mb-1 text-dark fw-medium">School Address</p>
                                            <p>1852 Barnes Avenue, Cincinnati, OH 45202</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <p class="mb-1 text-dark fw-medium">Phone Number</p>
                                            <p>+1 35676 45556</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Previous School Details -->
                    <!-- Bank Details -->
                    <div class="col-xxl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Bank Details</h5>
                            </div>
                            <div class="card-body pb-1">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <p class="mb-1 text-dark fw-medium">Bank Name</p>
                                            <p>Bank of America</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <p class="mb-1 text-dark fw-medium">Branch</p>
                                            <p>Cincinnati</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <p class="mb-1 text-dark fw-medium">IFSC</p>
                                            <p>BOA83209832</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Bank Details -->
                    <!-- Work Details (Unique rename from Medical History) -->
                    <div class="col-xxl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Work Details</h5>
                            </div>
                            <div class="card-body pb-1">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <p class="mb-1 text-dark fw-medium">Contract Type</p>
                                            <p>Permanent</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <p class="mb-1 text-dark fw-medium">Shift</p>
                                            <p>Morning</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <p class="mb-1 text-dark fw-medium">Work Location</p>
                                            <p>2nd Floor</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Work Details -->
                    <!-- Social Media -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Social Media</h5>
                            </div>
                            <div class="card-body pb-1">
                                <div class="row row-cols-xxl-5 row-cols-xl-3 row-cols-md-2">
                                    <div class="col">
                                        <div class="mb-3">
                                            <p class="mb-1 text-dark fw-medium">Facebook</p>
                                            <p>www.facebook.com</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <p class="mb-1 text-dark fw-medium">Twitter</p>
                                            <p>www.twitter.com</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <p class="mb-1 text-dark fw-medium">Linkedin</p>
                                            <p>www.linkedin.com</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <p class="mb-1 text-dark fw-medium">Youtube</p>
                                            <p>www.youtube.com</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <p class="mb-1 text-dark fw-medium">Instagram</p>
                                            <p>www.instagram.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Social Media -->
                    <!-- Other Info -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Other Info</h5>
                            </div>
                            <div class="card-body">
                                <p>Depending on the specific needs of your organization or system, additional information may be collected or tracked. It's important to ensure that any data collected complies with privacy regulations and policies to protect students' sensitive information.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /Other Info -->
                </div>
            </div>
            <!-- /Main Content -->
        </div>
    </div>
    <div>
        <h4>Teacher</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EmailId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EmailId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PlaceOfBirth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PlaceOfBirth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.University)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.University)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Degree)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Degree)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsActive)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HireDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HireDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Subject)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Subject.SubjectName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.PasswordHash)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.TeacherId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


