@model IEnumerable<SchoolERP.Data.Entities.StudentComplaint>

@{
    ViewData["Title"] = "StudentComplaintList";
}

<h1>StudentComplaintList</h1>

<p>
    <a asp-action="CreateComplaint">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResolutionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResolvedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintCategory)  
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResolvedByNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResolutionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResolvedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintCategory.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResolvedByNavigation.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.AdmissionNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.TeacherId)
            </td>
            <td>
                    <a asp-action="EditComplaint" asp-route-id="@item.ComplaintId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComplaintId">Details</a> |
                    <a asp-action="DeleteComplaint" asp-route-id="@item.ComplaintId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
